.text {
  margin: 0;
}

.pageTitle {
  color: var(--salt-color-text-strong);
  font-family: var(--salt-type-page-title-family);
  font-size: var(--salt-type-page-title-size);
  font-weight: var(--salt-type-page-title-weight);
  line-height: var(--salt-type-page-title-line);
}

.sectionTitle {
  color: var(--salt-color-text-strong);
  font-family: var(--salt-type-section-title-family);
  font-size: var(--salt-type-section-title-size);
  font-weight: var(--salt-type-section-title-weight);
  line-height: var(--salt-type-section-title-line);
}

.body {
  color: var(--salt-color-text);
  font-family: var(--salt-type-family-text);
  font-size: var(--salt-type-table-cell-size);
  font-weight: var(--salt-type-table-cell-weight);
  line-height: var(--salt-type-table-cell-line);
}

.bodySecondary {
  color: var(--salt-color-text-muted);
  font-family: var(--salt-type-family-text);
  font-size: var(--salt-type-size-ui-secondary);
  font-weight: var(--salt-type-weight-regular);
  line-height: var(--salt-type-line-ui-secondary);
}

.metadata {
  color: var(--salt-color-text-subtle);
  font-family: var(--salt-type-family-text);
  font-size: var(--salt-type-size-sm);
  font-weight: var(--salt-type-weight-regular);
  line-height: var(--salt-type-line-ui-secondary);
}
